﻿@model  Projekat.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<h1 style="text-align:center">@ViewBag.Message</h1>
<h2>Login</h2>

<!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!--Font Awesome (added because you use icons in your prepend/append)-->
<link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

<!-- Inline CSS based on choices in "Settings" tab -->
<style>
    .bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
        font-family: Arial, Helvetica, sans-serif;
        color: black
    }

        .bootstrap-iso form button, .bootstrap-iso form button:hover {
            color: white !important;
        }

    .asteriskField {
        color: red;
    }

    .bootstrap-iso form .input-group-addon {
        color: #555555;
        background-color: #bce5ff;
        border-radius: 4px;
        padding-left: 12px
    }
</style>

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="bootstrap-iso">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <form method="post" onsubmit="return inputValidation(this)">
                    <div class="form-group ">
                        <label class="control-label requiredField" for="username">
                            Username
                            <span class="asteriskField">
                                *
                            </span>
                        </label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-user">
                                </i>
                            </div>
                            <input class="form-control" id="username" name="username" type="text" />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label requiredField" for="password">
                            Password
                            <span class="asteriskField">
                                *
                            </span>
                        </label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-lock">
                                </i>
                            </div>
                            <input class="form-control" id="password" name="password" type="password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button class="btn btn-primary " name="submit" type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        function inputValidation(forma) {

            if (forma.username.value === "") {
                document.getElementById("username").focus();
                alert("Input field Username can't be empty");
                return false;
            }
            else if (forma.password.value === "") {
                document.getElementById("password").focus();
                alert("Input field Password can't be empty");
                return false;
            }
        }

    </script>
}

