﻿@model Projekat.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "Profile";
    Layout = ViewBag.Layout;
}

<h2>Profile</h2>

<table class="table  table-condensed" style="width:50%">
    <tr hidden>
        <td>ID</td>
        <td><input type="text" name="userID" id="userID" value="@Model.ID" readonly /></td>
    </tr>
    <tr>
        <td>Username</td>
        <td><input type="text" name="username" id="username" value="@Model.Username" readonly /></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input type="text" name="password" id="password" value="@Model.Password" readonly /></td>
    </tr>
    <tr id="newPassTr" hidden>
        <td>New password</td>
        <td id="newPassTd"><input type="password" name="newpassword" id="newpassword" value="" /></td>
    </tr>
    <tr id="confPassTr" hidden>
        <td>Confirm new password</td>
        <td id="confPassTd"><input type="password" name="confirmnewpassword" id="confirmnewpassword" value="" /></td>
    </tr>
    <tr>
        <td>Name</td>
        <td><input type="text" name="name" id="name" value="@Model.Name" readonly /></td>
    </tr>
    <tr>
        <td>Surname</td>
        <td><input type="text" name="surname" id="surname" value="@Model.Surname" readonly /></td>
    </tr>
    <tr>
        <td>Birth Date</td>
        <td><input type="date" name="birthdate" id="birthdate" value="@Model.BirthDate" readonly /></td>
    </tr>
    <tr hidden>
        <td>User Role</td>
        <td><input type="text" name="userrole" id="userrole" value="@Model.UserRole" readonly /></td>
    </tr>
    <tr id="genderTr">
        <td>Gedner</td>
        <td id="genderTd">
            @*<select id="gender" disabled>
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
            </select>*@

            <input id="gender" list="genders" name="genderIn" value="@Model.Gender" disabled/>
            <datalist id="genders">
                <option value="MALE"></option>
                <option value="FEMALE"></option>
            </datalist>
        </td>
    </tr>

    @if (Model.UserRole == Projekat.Models.EUserRole.CUSTOMER)
    {
        <tr>
            <td>Collected Points</td>
            <td>@Model.NumberOfCollectedPoints</td>
        </tr>

        <tr>
            <td>User type</td>

            @if (Model.NumberOfCollectedPoints >= 4000)
            {
                <td>Gold</td>
            }
            else if (Model.NumberOfCollectedPoints >= 3000)
            {
                <td>Silver</td>
            }
            else
            {
                <td>Bronze</td>
            }
        </tr>
    }
    <tr>
        <td id="editTd">
            <a id="edit" onclick="Edit()"><i class="fa fa-pencil"></i> Edit</a>
        </td>
        <td id="saveTd" hidden>
            <a id="save" onclick="Save()"><i class="btn-info fa fa-save"></i> Save</a>
        </td>
    </tr>
</table>


<script>
    function inputValidation() {
        //var date_regex = /^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/;
        //var letters = /^[A-Za-z]+$/;


        if ($('input#username').val() === "") {
            document.getElementById("username").focus();
            alert("Input field Username can't be empty");
            return false;
        }
        //else if (!$('input#username').val().match(letters)) {
        //    document.getElementById("username").focus();
        //    alert("Input field Username consists only of lethers");
        //    return false;
        //}
        //else if ($('input#newpassword'.val() === $('input#password'.val()))){
        //    document.getElementById("newpassword").focus();
        //    alert("New password is same as old one. Enter different password");
        //    return false;
        //}
        else if ($('input#newpassword').val() === ""){
            document.getElementById("newpassword").focus();
            alert("Field New passwrod can't be empty!");
            return false;
        }
        else if ($('input#confirmnewpassword').val() === ""){
            document.getElementById("confirmnewpassword").focus();
            alert("Field Confirm new password can't be empty!");
            return false;
        }
        else if ($('input#newpassword').val() !== $('input#confirmnewpassword').val()){
            document.getElementById("confirmnewpassword").focus();
            alert("Enter the same password as in 'New Password' field!");
            return false;
        }
        else if ($('input#name').val() === "") {
            document.getElementById("name").focus();
            alert("Field name can't be empthy!");
            return false;
        }
        else if ($('input#surname').val() === "") {
            document.getElementById("surname").focus();
            alert("Field Surname can't be empthy!");
            return false;
        }
        else if ($('input#birthdate').val() === ""){
            document.getElementById("birthdate").focus();
            alert("Enter a valid Birth Date (MM/DD/YYYY!");
            return false;
        }
        else if ($('#gender').val() !== "MALE" && $('#gender').val() !== "FEMALE") {
            document.getElementById("gender").focus();
            alert("Please chose a gender!");
            return false;
        }

        return true;
    }

    function Edit() {
        $("#saveTd").attr('hidden', false);
        $("#newPassTr").attr('hidden', false);
        $("#confPassTr").attr('hidden', false);
        $("#name").attr('readonly', false);
        $("#username").attr('readonly', false);
        $("#surname").attr('readonly', false);
        $("#birthdate").attr('readonly', false);
        $('#gender').attr('disabled', false);
    }

    function Save() {
        if (inputValidation()) {
            event.preventDefault();

            $.ajax({
                type: "POST",
                url: "/authentication/editProfile",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    ID: $('input#userID').val(),
                    Username: $("input#username").val(),
                    Password: $("input#password").val(),
                    Name: $("input#name").val(),
                    Surname: $("input#surname").val(),
                    Gender: $("input#gender").val(),
                    BirthDate: $("input#birthdate").val(),
                    UserRole: $("input#userrole").val(),
                    NewPassword: $('input#newpassword').val()
                }),
                success: function (result) {
                    if (result == "Successful") {
                        $("#saveTd").attr('hidden', true);
                        $("#newPassTr").attr('hidden', true);
                        $("#confPassTr").attr('hidden', true);
                        $("#name").attr('readonly', true);
                        $("#username").attr('readonly', true);
                        $("#surname").attr('readonly', true);
                        $("#birthdate").attr('readonly', true);
                        $('#gender').attr('disabled', true);

                        var newpass = $('input#newpassword').val()
                        $('#password').val(newpass);
                        

                    }
                    else if (result == "Username already exists!") {
                        document.getElementById("username").focus();
                        alert("Username already exists, try another one");
                    }
                }
            });
        }
    }
</script>