﻿@model Dictionary<string, Projekat.Models.Ticket>
@using Projekat.Models
@{
    Layout = ViewBag.Layout;
    Dictionary<int, Manifestation> manifestations = ViewBag.Manifestations;
    Dictionary<int, Customer> customers = ViewBag.Customers;
}


@*//Search*@
<div style="margin-top: 30px; margin-bottom:10px" class="md-form mt-0" id="searchDiv">
    <input type="text" id="searchEventName" placeholder="Search by Event name">
    <input type="number" id="searchPriceMin" placeholder="Min Price">
    <input type="number" id="searchPriceMax" placeholder="Max Price">
    <br /><br />
    from <input type="datetime-local" id="searchDateFrom" placeholder="Date from">
    to <input type="datetime-local" id="searchDateTo" placeholder="Date to">

    <button class="btn-info" id="searchBtn"><i class="fa fa-refresh small"> Reset search options</i></button>
</div>


@*//Filter*@
<div>
    <div id="filterDiv">
        <div id="filterDiv1" style="float:left; margin-bottom: 5px;">
            <div style="margin-top: 30px">
                <b>Filter by: Ticket Type</b>
                <select id="selectFiled">
                    <option value="All">All</option>
                    <option value="REGULAR">Regular</option>
                    <option value="FAN_PIT">Fan Pit</option>
                    <option value="VIP">Vip</option>
                </select>
            </div>
        </div>
    </div>

    <div id="filterDiv2" style="float:right; margin-bottom: 5px;">
        <div style="margin-top: 30px">
            <b>Filter by: Ticket Status</b>
            <select id="selectFiled2">
                <option value="All">All</option>
                <option value="CANCELED">Canceled</option>
                <option value="RESERVED">Reserved</option>
            </select>
        </div>
    </div>
</div>


<div>
    <table class="table table-hover table-condensed" style="margin-top: 20px" id="ticketsTable">
        <thead style="background-color: #a0e0d4">
            <tr>
                <th>Ticket ID</th>
                <th hidden>Manifestation ID</th>
                <th onclick="Sort(2)">Manifestation <i class="fa fa-sort"></i></th> @*Manifestation Name - Event name*@
                <th>Name</th>
                <th>Surname</th>
                <th onclick="Sort(5)">Date <i class="fa fa-sort"></i></th>
                <th onclick="Sort(6)">Price <i class="fa fa-sort"></i></th>
                <th hidden>Customer ID</th>
                <th>Status</th>
                <th>Ticket Type</th>
                <th>Is Deleted</th>
                @if (ViewBag.UserRole == EUserRole.ADMINISTRATOR)
                {
                    <th>&nbsp;</th>
                }
                else
                {
                    //Pass
                }
                @if (ViewBag.UserRole == EUserRole.CUSTOMER)
                {
                    <th>Cancel reservation</th>
                }
                else
                {
                    //Pass
                }

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Values)
            {
                if ((ViewBag.UserRole == EUserRole.SELLER && (item.Status == ETicketStatus.CANCELED)) || (ViewBag.UserRole == EUserRole.SELLER && (item.IsDeleted)))
                {
                    continue;                                               //sellers can only see reserved ticktes (by specification..)
                }
                if (ViewBag.UserRole == EUserRole.CUSTOMER && (item.CustomerID != ViewBag.Customer.ID) || (ViewBag.UserRole == EUserRole.CUSTOMER && (item.IsDeleted)))
                {
                    continue;                                               //customer can see only his own purchased tickets
                }
                <tr id="tableRows" position="@item.TicketType" status="@item.Status">
                    <td>@item.TicketID</td>
                    <td hidden>@item.ManifestationID</td>
                    <td>@manifestations[item.ManifestationID].EventName</td>
                    <td>@customers[item.CustomerID].Name</td>
                    <td>@customers[item.CustomerID].Surname</td>
                    <td>@item.ManifestationDate</td>
                    <td>@item.Price</td>
                    <td hidden>@item.CustomerID</td>
                    <td>@item.Status.ToString()</td>
                    <td>@item.TicketType.ToString()</td>
                    <td>@item.IsDeleted.ToString()</td>
                    @if (ViewBag.UserRole == EUserRole.ADMINISTRATOR)
                    {
                        if (item.IsDeleted)
                        {
                            <td>
                                <a id="unDelete" onclick="UnDelete(this)" class="btn btn-success brn-sm"><i class="fa fa-user-times fa-lg"></i></a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a id="delete" onclick="Delete(this)" class="btn btn-danger brn-sm"><i class="fa fa-trash fa-lg"></i></a>
                            </td>
                        }
                    }
                    @if (ViewBag.UserRole == EUserRole.CUSTOMER && ((item.ManifestationDate.Date - DateTime.Now.AddDays(7).Date).TotalDays >= 7))
                    {
                        if (item.Status.Equals(ETicketStatus.RESERVED))
                        {
                            <td>
                                <a id="cancelReservation" onclick="CancelReservation(this)" class="btn btn-danger brn-sm"><i class="fa fa-close fa-lg"></i> Cancel</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a id="unCancelReservation" onclick="UnCancelReservation(this)" class="btn btn-success brn-sm"><i class="fa fa-clipboard fa-lg"></i> UnCancel</a>
                            </td>
                        }
                    }
                    else
                    {
                        //Pass
                    }
                </tr>
            }
        </tbody>

    </table>
</div>

<script>

    //Delete
    function Delete(td) {
        var currentRow = td.parentElement.parentElement;
        var id = currentRow.cells[0].textContent.trim();

        $.get("/card/deleteCard", { id: id }, function (response) {
            if (response == "Successfull") {
                $(currentRow).css('background-color', 'red').hide("slow", function () {
                    currentRow.cells[10].textContent = "True";
                    $(currentRow.cells[11]).html('<a id="unDelete" onclick="UnDelete(this)" class="btn btn-success brn-sm"><i class="fa fa-user-times fa-lg"></i></a>');
                    $(currentRow).css('background-color', 'white').show(1000);
                })
            }
        });
    }

    //Undelete
    function UnDelete(td) {
        var currentRow = td.parentElement.parentElement;
        var id = currentRow.cells[0].textContent.trim();

        $.get("/card/unDeleteCard", { id: id }, function (response) {
            if (response == "Successfull") {
                $(currentRow).css('background-color', 'red').hide("slow", function () {
                    currentRow.cells[10].textContent = "False";
                    $(currentRow.cells[11]).html('<a id="delete" onclick="Delete(this)" class="btn btn-danger brn-sm"><i class="fa fa-trash fa-lg"></i></a>');
                    $(currentRow).css('background-color', 'white').show(1000);
                })

            }
        });
    }

    function CancelReservation(td) {
        var currentRow = td.parentElement.parentElement;
        var id = currentRow.cells[0].textContent.trim();

        $.get("/card/cancelReservation", { id: id }, function (response) {
            if (response == "Successfull") {

                $(currentRow).css('background-color', 'red').hide("slow", function () {
                    currentRow.cells[8].textContent = "CANCELED";
                    $(currentRow.cells[12]).html(`<a id="unCancelReservation" onclick="UnCancelReservation(this)" class="btn btn-success brn-sm"><i class="fa fa-clipboard fa-lg"></i> UnCancel</a>`);
                    $(currentRow).css('background-color', 'white').show(1000);
                })
            }
        });
    }

    function UnCancelReservation(td) {
        var currentRow = td.parentElement.parentElement;
        var id = currentRow.cells[0].textContent.trim();

        $.get("/card/unCancelReservation", { id: id }, function (response) {
            if (response == "Successfull") {
                $(currentRow).css('background-color', 'red').hide("slow", function () {
                    currentRow.cells[8].textContent = "RESERVED";
                    $(currentRow.cells[12]).html('<a id="cancelReservation" onclick="CancelReservation(this)" class="btn btn-danger brn-sm"><i class="fa fa-close fa-lg"></i> Cancel</a>');
                    $(currentRow).css('background-color', 'white').show(1000);
                })
            }
        });
    }

    function Sort(numCol) {
        $(`th:eq(${numCol})`).click(function () {
            var table = $(this).parents('table').eq(0)
            var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
            this.asc = !this.asc
            if (!this.asc) { rows = rows.reverse() }
            for (var i = 0; i < rows.length; i++) { table.append(rows[i]) }
        })
        function comparer(index) {
            return function (a, b) {
                var valA = getCellValue(a, index), valB = getCellValue(b, index)
                return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
            }
        }
        function getCellValue(row, index) { return $(row).children('td').eq(index).text() }
    }



    window.onload = function () {
        $(document).ready(function () {


            var $rows = $("table#ticketsTable #tableRows");


            //Filter algorithm
            //______________________________________________________________
            $("#selectFiled").on("change", function () {

                var selected = this.value;

                if (selected != "All") {

                    $rows.filter("[position=" + selected + "]").show();
                    $rows.not("[position=" + selected + "]").hide();
                }
                else {
                    $rows.show();
                }
            });

            $("#selectFiled2").on("change", function () {

                var selected = this.value;

                if (selected != "All") {

                    $rows.filter("[status=" + selected + "]").show();
                    $rows.not("[status=" + selected + "]").hide();
                }
                else {
                    $rows.show();
                }
            });
            //______________________________________________________________
            //Search
            $('#searchEventName, #searchPriceMin, #searchPriceMax, #searchDateFrom, #searchDateTo').on('input', function () {

                var val1 = $.trim($('#searchEventName').val()).replace(/ +/g, ' ').toLowerCase();

                var val4 = $('#searchPriceMin').val();
                var val5 = $('#searchPriceMax').val();

                var val6 = $('#searchDateFrom').val();
                var val7 = $('#searchDateTo').val();


                $rows.show().filter(function () {
                    var text1 = $(this).find('td:nth-child(3)').text().replace(/\s+/g, ' ').toLowerCase();
                   
                    var text4 = $(this).find('td:nth-child(7)').text().replace(/\s+/g, ' ').toLowerCase();
                    var date = $(this).find('td:nth-child(6)').text().replace(/\s+/g, ' ').toLowerCase();

                    return !~text1.indexOf(val1) || 
                        (parseInt(text4) < parseInt(val4) && !(val4 == "")) || (parseInt(text4) > parseInt(val5) && !(val5 == "")) ||
                        (compareDate(val6, date) && !(val6 == "")) || (compareDate(date, val7) && !(val7 == ""));
                }).hide();
            });

            $('#searchBtn').on('click', function () {
                $('#searchEventName').val("");
                $('#searchPriceMin').val("");
                $('#searchPriceMax').val("");
                $('#searchDateFrom').val("");
                $('#searchDateTo').val("");

                $rows.show().filter(function () {

                }).show();

            });
        })
    }

    function compareDate(dateFrom, dateTo) {

        //var val6 = $('#searchDateFrom').val();
        //var val7 = $('#searchDateTo').val();

        var date1 = new Date(dateFrom);
        var date2 = new Date(dateTo);
        var year1 = date1.getFullYear();
        var year2 = date2.getFullYear();
        var month1 = date1.getMonth();
        var month2 = date2.getMonth();
        var day1 = date1.getDay();
        var day2 = date2.getDay();
        var hour1 = date1.getHours();
        var hour2 = date2.getHours();
        var min1 = date1.getMinutes();
        var min2 = date2.getMinutes();

        if (year1 > year2) {
            return true;
        } else if (year1 == year2) {
            if (month1 > month2) {
                return true;
            } else if (month1 == month2) {
                if (day1 > day2) {
                    return true;
                } else if (day1 == day2) {
                    if (hour1 > hour2) {
                        return true;
                    } else if (hour2 == hour1) {
                        if (min1 > min2) {
                            return true;
                        } else {
                            return false;
                        }
                    } else {
                        return false;
                    }
                } else {
                    return false;
                }
            } else {
                return false;
            }
        } else {
            return false;
        }
    }


</script>