﻿@model Projekat.Models.Seller

@{
    ViewBag.Title = "CreateNewSeller";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div>
    @ViewBag.Message
</div>



<h1>Create seller</h1>
<div>
    @ViewBag.Message
</div>
<!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!--Font Awesome (added because you use icons in your prepend/append)-->
<link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

<!-- Inline CSS based on choices in "Settings" tab -->
<style>
    .bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
        font-family: Arial, Helvetica, sans-serif;
        color: black
    }

        .bootstrap-iso form button, .bootstrap-iso form button:hover {
            color: white !important;
        }

    .asteriskField {
        color: red;
    }
</style>

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="bootstrap-iso">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <form method="post" onsubmit="return inputValidation(this)" action="/Administrator/CreateNewSeller">
                    <div class="form-group ">
                        <label class="control-label requiredField" for="name">
                            Name
                            <span class="asteriskField">
                                *
                            </span>
                        </label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-user">
                                </i>
                            </div>
                            <input class="form-control" id="name" name="name" type="text" />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label requiredField" for="surname">
                            Surname
                            <span class="asteriskField">
                                *
                            </span>
                        </label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-user">
                                </i>
                            </div>
                            <input class="form-control" id="surname" name="surname" type="text" />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label requiredField" for="username">
                            Username
                            <span class="asteriskField">
                                *
                            </span>
                        </label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-user">
                                </i>
                            </div>
                            <input class="form-control" id="username" name="username" type="text" />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label requiredField" for="password">
                            Password
                            <span class="asteriskField">
                                *
                            </span>
                        </label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-expeditedssl">
                                </i>
                            </div>
                            <input class="form-control" id="password" name="password" type="password" />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label " for="confirmpassword">
                            Confirm password
                        </label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-expeditedssl">
                                </i>
                            </div>
                            <input class="form-control" id="confirmpassword" name="confirmpassword" type="password" />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label " for="BirthDate">
                            Date
                        </label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar">
                                </i>
                            </div>
                            <input class="form-control" id="BirthDate" name="BirthDate" placeholder="MM/DD/YYYY" type="text" />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label requiredField" for="gender">
                            Select gender
                            <span class="asteriskField">
                                *
                            </span>
                        </label>
                        <select class="select form-control" id="gender" name="gender">
                            <option value="MALE">
                                MALE
                            </option>
                            <option value="FEMALE">
                                FEMALE
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div>
                            <button class="btn btn-primary " name="submit" type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(function () {
            $('#BirthDate').datepicker({
                dateFormat: "mm/dd/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+10",
                showOn: "both",
                buttonText: "<i class='fa fa-calendar'></i>"
            });
        })

        function inputValidation(forma) {

            var date_regex = /^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/;
            var letters = /^[A-Za-z]+$/;

            if (forma.name.value === "") {
                document.getElementById("name").focus();
                alert("Input field Name can't be empty");
                return false;
            }
            else if (!forma.name.value.match(letters)) {
                document.getElementById("name").focus();
                alert("Input field Name consists only of lethers");
                return false;
            }
            else if (forma.surname.value === "") {
                document.getElementById("surname").focus();
                alert("Input field Surname can't be empty");
                return false;
            }
            else if (!forma.surname.value.match(letters)) {
                document.getElementById("name").focus();
                alert("Input field Surname consists only of lethers");
                return false;
            }
            else if (forma.username.value === "") {
                document.getElementById("username").focus();
                alert("Input field Username can't be empty");
                return false;
            }
            else if (forma.password.value === "") {
                document.getElementById("password").focus();
                alert("Input field Password can't be empty");
                return false;
            }
            else if (forma.confirmpassword.value === "") {
                document.getElementById("confirmpassword").focus();
                alert("Input field Confirm password can't be empty");
                return false;
            }
            else if (forma.password.value !== forma.confirmpassword.value) {
                document.getElementById("confirmpassword").focus();
                alert("Password and Confirm Password must be the same!");
                return false;
            }
            else if (!(date_regex.test(forma.BirthDate.value))) {
                document.getElementById("BirthDate").focus();
                alert("Enter a valid Birth Date (MM/DD/YYYY!");
                return false;
            }
            else if (forma.gender.value !== "MALE" && forma.gender.value !== "FEMALE") {
                document.getElementById("gender").focus();
                alert("Please chose a gender!");
                return false;
            }
        }
    </script>
}