﻿@model IEnumerable<Projekat.Models.UserToDisplay>
@{
    ViewBag.Title = "GetAllUsers";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div style="margin-top: 30px; margin-bottom:10px" class="md-form mt-0">
    <input type="text" id="searchUsername" placeholder="Search by Username">
    <input type="text" id="searchName" placeholder="Search by Name">
    <input type="text" id="searchSurname" placeholder="Search by Surname">
    <button class="btn-info" id="searchBtn"><i class="fa fa-refresh small"> Reset search options</i></button>
</div>

<div>
    <div id="filterDiv1" style="float:left; margin-bottom: 5px;">
        <div style="margin-top: 10px">
            <b>Filter by: User role</b>
            <select id="selectFiled">
                <option value="All">All</option>
                <option value="ADMINISTRATOR">Admin</option>
                <option value="SELLER">Seller</option>
                <option value="CUSTOMER">Customer</option>
            </select>
        </div>
    </div>

    <div id="filterDiv2" style="float:right; margin-bottom: 5px;">
        <div style="margin-top: 10px">
            <b>Filter by: User type</b>
            <select id="selectFiled2">
                <option value="All">All</option>
                <option value="BRONZE">Bronze</option>
                <option value="SILVER">Silver</option>
                <option value="GOLD">Gold</option>
            </select>
        </div>
    </div>
</div>


@*Users tabel*@
<table class="table table-bordered table-hover table-condensed" style="margin-top: 5px" id="users">
    <thead style="background-color: #a0e0d4">
        <tr>
            <th hidden>
                ID
            </th>
            <th>
                Role
                <i class="fa fa-sort"></i>
            </th>
            <th id="th_username">
                Username
                <i class="fa fa-sort"></i>
            </th>
            <th>
                Password
                <i class="fa fa-sort"></i>
            </th>
            <th id="th_name">
                Name
                <i class="fa fa-sort"></i>
            </th>
            <th id="th_surname">
                Surname
                <i class="fa fa-sort"></i>
            </th>
            <th>
                Birth date
                <i class="fa fa-sort"></i>
            </th>
            <th id="th_points">
                Points
                <i class="fa fa-sort"></i>
            </th>
            <th>
                Customer type
                <i class="fa fa-sort"></i>
            </th>
            <th>
                Cancelations
                <i class="fa fa-sort"></i>
            </th>
            <th>
                Is deleted<i class="fa fa-sort"></i>
            </th>
            <th>
                Is Suspicious
                <i class="fa fa-sort"></i>
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        string customerType;
        if (item.CustomerType == Projekat.Models.ECustomerType.BRONZE)
        {
            customerType = item.CustomerType.ToString();
        }
        else
        {
            customerType = "";
        }
        <tr position="@item.UserRole" id="tableRows" customerType="@customerType">
            <td hidden>
                @item.ID
            </td>
            <td>
                @item.UserRole
            </td>
            <td>
                @item.Username
            </td>
            <td>
                @item.Password
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Surname
            </td>
            <td>
                @item.BirthDate
            </td>
            <td>
                @item.NumberOfPoints
            </td>
            <td>
                @item.CustomerType
            </td>
            <td>
                @item.NumberOfCancelations
            </td>

            @if (item.UserRole == Projekat.Models.EUserRole.ADMINISTRATOR)
            {
                <td>&nbsp;</td>
            }
            else
            {
                <td>
                    @item.IsDeleted
                </td>
            }

            <td>
                @item.IsSuspicious
            </td>

            @if (!item.IsDeleted && (item.UserRole != Projekat.Models.EUserRole.ADMINISTRATOR))
            {
                <td>
                    <a id="delete" onclick="Delete(this)" class="btn btn-danger brn-sm"><i class="fa fa-trash fa-lg"></i></a>
                </td>
            }
            else
            {
                if (item.UserRole != Projekat.Models.EUserRole.ADMINISTRATOR)
                {
                    <td>
                        <a id="unDelete" onclick="UnDelete(this)" class="btn btn-success brn-sm"><i class="fa fa-user-times fa-lg"></i></a>
                    </td>
                }
            }
        </tr>
    }

</table>

<script>



    //Columns search feature, radi po svim kolonama.
    window.onload = function () {

        $('th').each(function (col) {
            $(this).hover(
                function () {
                    $(this).addClass('focus');
                },
                function () {
                    $(this).removeClass('focus');
                }
            );
            $(this).click(function () {
                if ($(this).is('.asc')) {
                    $(this).removeClass('asc');
                    $(this).addClass('desc selected');
                    sortOrder = -1;
                } else {
                    $(this).addClass('asc selected');
                    $(this).removeClass('desc');
                    sortOrder = 1;
                }
                $(this).siblings().removeClass('asc selected');
                $(this).siblings().removeClass('desc selected');
                var arrData = $('table').find('tbody >tr:has(td)').get();
                arrData.sort(function (a, b) {
                    var val1 = $(a).children('td').eq(col).text().toUpperCase();
                    var val2 = $(b).children('td').eq(col).text().toUpperCase();
                    if ($.isNumeric(val1) && $.isNumeric(val2))
                        return sortOrder == 1 ? val1 - val2 : val2 - val1;
                    else
                        return (val1.toUpperCase() < val2.toUpperCase()) ? -sortOrder : (val1.toUpperCase() > val2.toUpperCase()) ? sortOrder : 0; //ovde sam resio da radi nezavisno od asci vrednosti slova
                    //problem je bio sa malim i velikim, asci value of a specific character..
                });
                $.each(arrData, function (index, row) {
                    $('tbody').append(row);
                });
            });

            //Other sorthing algorithm, that also works just fine..
            //$('th').click(function () {
            //    var table = $(this).parents('table').eq(0)
            //    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
            //    this.asc = !this.asc
            //    if (!this.asc) { rows = rows.reverse() }
            //    for (var i = 0; i < rows.length; i++) { table.append(rows[i]) }
            //})
            //function comparer(index) {
            //    return function (a, b) {
            //        var valA = getCellValue(a, index), valB = getCellValue(b, index)
            //        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
            //    }
            //}
            //function getCellValue(row, index) { return $(row).children('td').eq(index).text() }


            $(document).ready(function () {
                //--------------------------------------------------------------------------
                //Filter User Role
                var rows = $("table#users #tableRows");

                $("#selectFiled").on("change", function () {

                    var selected = this.value;

                    if (selected != "All") {

                        rows.filter("[position=" + selected + "]").show();
                        rows.not("[position=" + selected + "]").hide();
                    }
                    else {
                        rows.show();
                    }
                });

                //--------------------------------------------------------------------------
                //Filter User type
                $("#selectFiled2").on("change", function () {

                    var selected = this.value;

                    if (selected != "All") {

                        rows.filter("[customerType=" + selected + "]").show();
                        rows.not("[customerType=" + selected + "]").hide();
                    }
                    else {
                        rows.show();
                    }
                });

                //--------------------------------------------------------------------------
                //Search

                var $rows2 = $("table#users #tableRows");
                $('#searchUsername, #searchName, #searchSurname').on('input', function () {
                    var val1 = $.trim($('#searchUsername').val()).replace(/ +/g, ' ').toLowerCase();
                    var val2 = $.trim($('#searchName').val()).replace(/ +/g, ' ').toLowerCase();
                    var val3 = $.trim($('#searchSurname').val()).replace(/ +/g, ' ').toLowerCase();



                    $rows2.show().filter(function () {
                        var text1 = $(this).find('td:nth-child(3)').text().replace(/\s+/g, ' ').toLowerCase();
                        var text2 = $(this).find('td:nth-child(5)').text().replace(/\s+/g, ' ').toLowerCase();
                        var text3 = $(this).find('td:nth-child(6)').text().replace(/\s+/g, ' ').toLowerCase();
                        return !~text1.indexOf(val1) || !~text2.indexOf(val2) || !~text3.indexOf(val3);
                    }).hide();
                });

                $('#searchBtn').on('click', function () {
                    $('#searchUsername').val("");
                    $('#searchName').val("");
                    $('#searchSurname').val("");

                    $rows2.show().filter(function () {

                    }).show();

                });
            });
        });
    }

    function Delete(td) {
        var currentRow = td.parentElement.parentElement;
        var id = currentRow.cells[0].textContent.trim();
        var userRole = currentRow.cells[1].textContent.trim();

        $.get("/administrator/delete", { id: id, userRole: userRole }, function (response) {
            if (response == "Success") {
                $(currentRow).css('background-color', 'red').hide("slow", function () {
                    currentRow.cells[10].textContent = "True";
                    $(currentRow.cells[12]).html('<a id="unDelete" onclick="UnDelete(this)" class="btn btn-success brn-sm"><i class="fa fa-user-times fa-lg"></i></a>');
                    $(currentRow).css('background-color', 'white').show(1000);
                })

            }
        });
    }

    function UnDelete(td) {
        var currentRow = td.parentElement.parentElement;
        var id = currentRow.cells[0].textContent.trim();
        var userRole = currentRow.cells[1].textContent.trim();

        $.get("/administrator/undelete", { id: id, userRole: userRole }, function (response) {
            if (response == "Success") {
                $(currentRow).css('background-color', 'green').hide("slow", function () {
                    currentRow.cells[10].textContent = "False";
                    $(currentRow.cells[12]).html('<a id="delete" onclick="Delete(this)" class="btn btn-danger brn-sm"><i class="fa fa-trash fa-lg"></i></a>');
                    $(currentRow).css('background-color', 'white').show(1000);
                })

            }
        });
    }

</script>
