﻿@model Projekat.Models.Manifestation
@using Projekat.Models


@{
    ViewBag.Title = "ManifestationDetails";
    Layout = ViewBag.Layout;
    Dictionary<int, Comment> comments = ViewBag.Comments;
    Dictionary<int, Customer> customers = ViewBag.Customers;
    Ticket compareTicket = ViewBag.Ticket;

}

<h2 id="h2ID">Manifestation Details</h2>


@*Create Comment*@
<div hidden id="createDiv">
    <table class="table table-hover table-condensed" style="width:45%; margin-top:3%; margin-left:15%">
        <thead style="background-color:antiquewhite ">
            <tr hidden>
                <td>Customer ID</td> @*customerID*@
                @if (ViewBag.User != null)
                {
                    <td><input type="number" id="customerID" value="@ViewBag.User.ID" /></td>
                }
            <tr>
            <tr hidden>
                <td>Manifestation ID</td>
                <td><input type="number" id="manifestationID" value="@Model.ID" /></td>
            <tr>
            <tr>
                <td>Rating</td>
                <td><input type="number" id="ratingID" placeholder="range 1 to 5" /></td> @*//od 1 do 5*@
            <tr>
            <tr>
                <td>Comment</td>
                <td><textarea rows="4" cols="50" id="commentText" placeholder="Enter comment here..."></textarea></td>
            <tr>
            <tr hidden>
                <td>Ticket ID</td>
                @if (compareTicket != null)
                {
                    <td><input type="text" id="ticketID" value="@compareTicket.TicketID" /></td>
                }
            <tr>
            <tr hidden>
                <td hidden>Accepted</td>
            <tr>
            <tr>
                <td><button onclick="Submit()">Submit</button></td>
            </tr>
        </thead>
    </table>
</div>

@*Main div*@
<div id="mainDiv">
    @*Edit manifestation table*@
    <div style="float:left">
        <table class="table  table-condensed" style="width:50%">
            <tr hidden>
                <td>ID</td>
                <td><input type="number" id="manifestationID" value="@Model.ID" readonly /></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" id="manifestationName" value="@Model.EventName" readonly /></td>
            </tr>
            <tr>
                <td>Capacity</td>
                <td><input type="number" id="manifestationCapacity" value="@Model.Capacity" readonly /></td>
            </tr>
            <tr>
                <td>Type</td>
                <td id="typeTd">
                    <input id="type" list="types" value="@Model.Type" disabled />
                    <datalist id="types">
                        <option value="CONCERT"></option>
                        <option value="FESTIVAL"></option>
                        <option value="THEATER"></option>
                        <option value="OTHER"></option>
                    </datalist>
                </td>
            </tr>
            <tr>
                <td>Date & Time</td>
                <td><input type="datetime" id="manifestationDate" value="@Model.Date" readonly /></td>
            </tr>
            <tr>
                <td>Adress</td>
                <td><input type="text" id="manifestationAdress" value="@Model.Venue.Address" readonly /></td>
            </tr>
            <tr>
                <td>City</td>
                <td><input type="text" id="manifestationCity" value="@Model.Venue.City" readonly /></td>
            </tr>
            <tr>
                <td>Postal Code</td>
                <td><input type="number" id="manifestationPostalCode" value="@Model.Venue.PostalCode" readonly /></td>
            </tr>
            <tr>
                <td>Is Deleted</td>
                @if (Model.IsDeleted)
                {
                    <td><input type="text" id="manifestationDeleted" value="Deleted" readonly /></td>
                }
                else
                {
                    <td><input type="text" id="manifestationDeleted" value="Not Deleted" readonly /></td>
                }
            </tr>
            <tr>
                <td>Poster</td>
                @if (ViewBag.UserRole == EUserRole.SELLER)
                {
                    <td>
                        <img src="~/Images/@Model.Poster" style="width:100px; height:100px;" />
                        <input type="file" id="manifestationPoster" value="@Model.Poster" readonly disabled />
                    </td>
                }
                else
                {
                    <td>
                        <img src="~/Images/@Model.Poster" style="width:100px; height:100px;" />
                    </td>
                }
            </tr>
            <tr>
                <td>Ticket Price</td>
                <td><input type="number" id="manifestationPrice" value="@Model.TicketPrice" readonly /></td>
            </tr>
            <tr>
                <td>Rating</td>
                <td><input type="number" id="manifestationRating" value="@Model.Rating" readonly /></td>
            </tr>
            <tr>
                <td>Status</td>
                @if (Model.Status)
                {
                    <td><input type="text" id="manifestationStatus" value="Active" readonly /></td> @*//need to implement this still..*@
                }
                else
                {
                    <td><input type="text" id="manifestationStatus" value="Inactive" readonly /></td> @*//need to implement this still..*@
                }
            </tr>
            @if (ViewBag.UserRole == EUserRole.SELLER)
            {
                <tr>
                    <td id="editTd">
                        <a id="edit" onclick="Edit()"><i class="fa fa-pencil"></i> Edit</a>
                    </td>
                    <td id="saveTd" hidden>
                        <a id="save" onclick="Save()"><i class="btn-info fa fa-save"></i> Save</a>
                    </td>
                </tr>
            }
        </table>
    </div>

    @*Comments table*@
    <div style="float:left; margin-left:auto;">

        @if (compareTicket == null)
        { }
        else if (ViewBag.User == null)
        {

        }
        else if (Model.Date.Date < DateTime.Now.Date && ViewBag.User.UserRole == EUserRole.CUSTOMER && compareTicket.CustomerID.Equals(ViewBag.User.ID))
        {
            <button id="create" onclick="Create()" class="btn-success" style="margin-top: 10px; float:right;"><i class="fa fa-plus-circle"></i> Add comment</button>
        }

        @if (DateTime.Now.Date > Model.Date.Date)
        {
            <table class="table table-hover table-condensed" id="commentsTable">
                <thead style="background-color: #a0e0d4">
                    <tr>
                        <th hidden>Comment ID</th>
                        <th>Customer</th>
                        <th>Event name</th>
                        <th>Rating</th>
                        <th>Comment</th>
                        <th>Ticket ID</th>
                        <th>Accepted</th>
                        @if (ViewBag.UserRole == EUserRole.SELLER)
                        {
                            <th>&nbsp;</th>
                        }
                        @if (ViewBag.UserRole == EUserRole.ADMINISTRATOR)
                        {
                            <th>&nbsp;</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in comments.Values)
                    {
                        if ((!item.Accepted || item.IsDeleted) && (ViewBag.UserRole == EUserRole.CUSTOMER || ViewBag.UserRole == EUserRole.GUEST))
                        {
                            continue;
                        }

                        if (item.ManifestationID.Equals(Model.ID)) //if the comment belongs to the manifestation!
                        {
                            <tr>
                                <td hidden id="commentID">@item.ID</td>
                                <td>@customers[item.CustomerID].Name</td>
                                <td hidden id="customerID">@item.CustomerID</td>
                                <td>@Model.EventName</td>
                                <td hidden id="manifestationID">@Model.ID</td>
                                <td>@item.Rating</td>
                                <td>@item.Text</td>
                                <td>@item.TicketID</td>
                                <td>@item.Accepted.ToString()</td>
                                @if (ViewBag.UserRole == EUserRole.SELLER && !item.Accepted)
                                {
                                    <td><button class="btn btn-sm btn-success" onclick="ApproveComment(this)"><i class="fa fa-thumbs-up"></i> Approve</button></td>
                                }

                                @if (ViewBag.UserRole == EUserRole.ADMINISTRATOR && !item.IsDeleted)
                                {
                                    <td><button class="btn btn-sm btn-danger" onclick="DeleteComment(this)"><i class="fa fa-trash"></i> delete</button></td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>
</div>


<script>

    function inputValidation() {
        if ($('input#manifestationEventName').val() === "") {
            document.getElementById("manifestationEventName").focus();
            alert("Input field Event name can't be empty");
            return false;
        }
        else if ($('input#type').val() !== "CONCERT" && $('#type').val() !== "FESTIVAL" &&
            $('#type').val() !== "THEATER" && $('#type').val() !== "OTHER") {
            document.getElementById("type").focus();
            alert("Please chose a manifestation type!");
            return false;
        }
        else if ($('input#manifestationCapacity').val() == "" || $('input#manifestationCapacity').val() < 0) {
            document.getElementById("manifestationCapacity").focus();
            alert("Input field Capacity can't be empty or negative");
            return false;
        }
        else if ($('input#manifestationDate').val() == "") {
            document.getElementById("manifestationDate").focus();
            alert("Enter a valid datetime format! (mm/dd/yyyy HH-mm)");
            return false;
        }
        else if ($('input#manifestationPrice').val() == "" || $('input#manifestationPrice').val() < 0) {
            document.getElementById("manifestationPrice").focus();
            alert("Input field Price can't be empty or negative");
            return false;
        }
        else if ($('input#manifestationAddress').val() == "") {
            document.getElementById("manifestationAddress").focus();
            alert("Input field Address name can't be empty");
            return false;
        }
        else if ($('input#manifestationCity').val() == "") {
            document.getElementById("manifestationCity").focus();
            alert("Input field City name can't be empty");
            return false;
        }
        else if ($('input#manifestationPostalCode').val() == "" || $('input#manifestationPostalCode').val() < 0) {
            document.getElementById("manifestationPostalCode").focus();
            alert("Input field Postal code can't be empty or negative");
            return false;
        }
        else if ($('input#manifestationPoster').val() == "") {
            document.getElementById("manifestationPoster").focus();
            alert("Please choose a image for Poster");
            return false;
        }
        else if ($('input#manifestationRating').val() < 0 || $('input#manifestationRating').val() > 10) {
            document.getElementById("manifestationRating").focus();
            alert("Rating need to be in range(0,10)");
            return false;
        }
        else if ($('input#manifestationRating').val() == "") {
            document.getElementById("manifestationRating").focus();
            alert("Input filed Rating can't be empty");
            return false;
        }

        return true;
    }

    function Edit() {
        $("#saveTd").attr('hidden', false);
        $("#manifestationName").attr('readonly', false);
        $("#type").attr('disabled', false);
        $("#manifestationCapacity").attr('readonly', false);
        $("#manifestationDate").attr('type', 'datetime-local');
        $("#manifestationDate").attr('readonly', false);
        $("#manifestationAdress").attr('readonly', false);
        $("#manifestationCity").attr('readonly', false);
        $("#manifestationPostalCode").attr('readonly', false);
        $("#manifestationPoster").attr('readonly', false);
        $("#manifestationPoster").attr('disabled', false);
        $("#manifestationPrice").attr('readonly', false);
        $("#manifestationRating").attr('readonly', false);

    }

    function Save() {
        if (inputValidation()) {

            $.ajax({
                type: "POST",
                url: "/seller/editManifestation",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    ID: $('input#manifestationID').val(),
                    EventName: $("input#manifestationName").val(),
                    Type: $("input#type").val(),
                    Capacity: $("input#manifestationCapacity").val(),
                    Date: $("input#manifestationDate").val(),
                    Venue: {
                        Address: $("input#manifestationAdress").val(),
                        City: $("input#manifestationCity").val(),
                        PostalCode: $("input#manifestationPostalCode").val()
                    },
                    IsDeleted: $("input#manifestationDeleted").val(),
                    Poster: $("input#manifestationPoster").val(),
                    TicketPrice: $("input#manifestationPrice").val(),
                    Status: $("input#manifestationStatus").val(),
                    Rating: $("input#manifestationRating").val()
                }),
                success: function (result) {
                    if (result == "Successful") {
                        $("#saveTd").attr('hidden', true);
                        $("#manifestationName").attr('readonly', true);
                        $("#type").attr('disabled', true);
                        $("#manifestationCapacity").attr('readonly', 'true');
                        $("#manifestationDate").attr('type', 'datetime');
                        $("#manifestationDate").attr('readonly', true);
                        $("#manifestationAdress").attr('readonly', true);
                        $("#manifestationCity").attr('readonly', true);
                        $("#manifestationPostalCode").attr('readonly', true);
                        $("#manifestationPoster").attr('readonly', true);
                        $("#manifestationPoster").attr('disabled', true);
                        $("#manifestationPrice").attr('readonly', true);

                    }
                    else if (result == "Error") {
                        alert("There was an error while saving the manifestation!");
                    }
                }
            });
        }
    }

    function Create() {
        $('#mainDiv').attr('hidden', true);
        $('#createDiv').attr('hidden', false);
        $('#h2ID').attr('hidden', true);
    }

    function CommentValidation() {
        if ($('input#ratingID').val() == "") {
            document.getElementById("ratingID").focus();
            alert("Rating is in range (1-5)");
            return false;
        }
        else if ($('input#ratingID').val() < 1 || $('input#ratingID').val() > 5) {
            document.getElementById("ratingID").focus();
            alert("Rating need to be in range(1,5)");
            return false;
        }
        else if ($('#commentText').val() == "") {
            document.getElementById("commentID").focus();
            alert("You need to enter a comment");
            return false;
        }

        return true;
    }

    function Submit() {
        if (CommentValidation()) {

            var customerID = parseInt($('#customerID').val());
            manifestationID = parseInt($('#manifestationID').val());
            commentText = $('#commentText').val();
            rating = parseInt($('#ratingID').val());
            isDeleted = false;
            accepted = false;
            ticketID = $('#ticketID').val();


            $.ajax({
                type: "POST",
                url: "/seller/createComment",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    ID: "",
                    CustomerID: customerID,
                    ManifestationID: manifestationID,
                    Text: commentText,
                    Rating: rating,
                    IsDeleted: false,
                    TicketID: ticketID,
                    Accepted: false
                }),
                success: function (response) {
                    if (response == "Successful") {

                        $('#mainDiv').attr('hidden', false);
                        $('#createDiv').attr('hidden', true);
                        $('#h2ID').attr('hidden', false);
                        $('#commentText').val("");
                        $('#ratingID').val("");


                        $('#commentsTable > tbody:last-child').append(
                            `<tr>
                                <td hidden>Comment ID</td>
                                <td>@customers.Values.Last().Name</td>
                                <td>@Model.EventName</td>
                                <td>${rating}</td>
                                <td>${commentText}</td>
                                <td>${ticketID}</td>
                                <td>False</td>
                             </tr>`
                        );


                    }
                    else if (response == "Error") {
                        alert("Error ocured while ading new comment!");
                    }
                }
            });

        }
    }

    function ApproveComment(td) {
        var currentRow = td.parentElement.parentElement;
        var id = currentRow.cells[0].textContent.trim();



        $.get("/seller/approveComment", { id: id }, function (response) {
            if (response == "Successful") {
                alert('Successfuly Approved comment');
                $(currentRow).css('background-color', 'yellow').hide("slow", function () {
                    $(currentRow.cells[8]).html('True');
                    $(currentRow.cells[9]).html('<td></td>');
                    $(currentRow).css('background-color', 'white').show(1000);
                })
            } else {
                alert('Failed to approve manifestation');
            }
        });
    }

    function DeleteComment(td) {
        var currentRow = td.parentElement.parentElement;
        var id = currentRow.cells[0].textContent.trim();

        $.get("/administrator/deleteComment", { id: id }, function (response) {
            if (response == "Successfull") {
                alert('Successfuly deleted comment');
                $(currentRow).css('background-color', 'yellow').hide("slow", function () {
                    $(currentRow.cells[9]).html('<td></td>');
                    $(currentRow).css('background-color', 'white').show(1000);
                })
            } else {
                alert('Failed to delete comment');
            }
        });
    }

    //function UnDeleteComment(td) {
    //    var currentRow = td.parentElement.parentElement;
    //    var id = currentRow.cells[0].textContent.trim();

    //    $.get("/administrator/unDeleteComment", { id: id }, function (response) {
    //        if (response == "Successfull") {
    //            alert('Successfuly undeleted comment');
    //            $(currentRow).css('background-color', 'yellow').hide("slow", function () {
    //                $(currentRow.cells[9]).html('<td><button class="btn btn-sm btn-danger" onclick="DeleteComment(this)"><i class="fa fa-trash"></i> delete</button></td>');
    //                $(currentRow).css('background-color', 'white').show(1000);
    //            })
    //        } else {
    //            alert('Failed to undelete comment');
    //        }
    //    });
    //}
</script>
