﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ul.nav.nav-tabs{
    margin: 10px 0px;
}

ul.nav.nav-tabs li:not(.active) a{
    background-color: #eeeeee;
    color: gray;
}

ul.nav.nav-tabs li.active a{
    border-top: 3px solid #16a765;
}