﻿@model Dictionary<int, Projekat.Models.Manifestation>


@using Projekat.Models

@{
    ViewBag.Title = "Index";
    Layout = ViewBag.Layout;

    int manifestationsCount = ViewBag.ManifestationsCount;

    int sellerID = 0;

    if (ViewBag.UserRole == EUserRole.SELLER)
    {
        sellerID = ViewBag.SellerID;
    }
}

<link href="~/Content/font-awesome.min.css" rel="stylesheet" />

@if (ViewBag.UserRole == EUserRole.SELLER)
{
    <div>
        <button id="create" onclick="Create()" class="btn-success" style="margin-top: 10px;"><i class="fa fa-plus-circle"></i>Create manifestation</button>
    </div>
}

@*Search*@
<div style="margin-top: 30px; margin-bottom:10px" class="md-form mt-0" id="searchDiv">
    <input type="text" id="searchEventName" placeholder="Search by Event name">
    <input type="text" id="searchAddress" placeholder="Search by address">
    <input type="text" id="searchCity" placeholder="Search by city">
    <input type="number" id="searchPriceMin" placeholder="Min Price">
    <input type="number" id="searchPriceMax" placeholder="Max Price">
    <br /><br />
    from <input type="datetime-local" id="searchDateFrom" placeholder="Date from">
    to <input type="datetime-local" id="searchDateTo" placeholder="Date to">

    <button class="btn-info" id="searchBtn"><i class="fa fa-refresh small"> Reset search options</i></button>
</div>

@*Filter*@
<div id="filterDiv">
    <div id="filterDiv1" style="float:left; margin-bottom: 5px;">
        <div style="margin-top: 30px">
            <b>Filter by: Manifestation Type</b>
            <select id="selectFiled">
                <option value="All">All</option>
                <option value="FESTIVAL">Festival</option>
                <option value="CONCERT">Concert</option>
                <option value="THEATER">Theater</option>
                <option value="OTHER">Other</option>
            </select>
        </div>
    </div>


</div>

@*Create new manifestaiton*@
<div id="createManifestation" hidden style="
      margin: auto;
      padding: 10px;">

    <table class="table table-bordered table-striped table-condensed" align="left" style="margin-top: 20px; width:35%;">
        <tr>
            <td>Event Name</td>
            <td><input type="text" id="manifestationEventName" /></td>
        </tr>
        <tr id="typeTr">
            <td>Type</td>
            <td id="typeTd">
                <input id="manifestationType" list="types" />
                <datalist id="types">
                    <option value="CONCERT"></option>
                    <option value="FESTIVAL"></option>
                    <option value="THEATER"></option>
                    <option value="OTHER"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>Capacity</td>
            <td><input type="number" id="manifestationCapacity" /></td>
        </tr>
        <tr>
            <td>Date</td>
            <td><input type="datetime-local" id="manifestationDate" /></td>
        </tr>
        <tr>
            <td>Base ticket price</td>
            <td><input type="number" id="manifestationPrice" /></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" id="manifestationAddress" /></td>
        </tr>
        <tr>
            <td>City</td>
            <td><input type="text" id="manifestationCity" /></td>
        </tr>
        <tr>
            <td>Postal code</td>
            <td><input type="number" id="manifestationPostalCode" /></td>
        </tr>
        <tr>
            <td>Poster</td>
            <td><input type="file" id="manifestationPoster" accept="image/*" /></td>
        </tr>
        <tr hidden>
            <td>Rating</td>
            <td><input type="number" id="manifestationRating" value="0" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" id="submitBtn" onclick="Submit()" /></td>
        </tr>
    </table>
</div>
<br />


@*All Manifestations table*@
<table class="table table-hover table-condensed" style="margin-top: 20px" id="allManifestationsTable">
    <thead style="background-color: #a0e0d4">
        <tr>
            <th hidden>ID</th>
            <th onclick="Sort(1)">Name <i class="fa fa-sort"></i></th>
            <th>Type</th>
            <th onclick="Sort(3)">Date & Time <i class="fa fa-sort"></i></th>
            <th onclick="Sort(4)">Adress <i class="fa fa-sort"></i></th>
            <th onclick="Sort(5)">City <i class="fa fa-sort"></i></th>
            <th>Postal Code</th>
            <th>Is Deleted</th>
            <th>Poster</th>
            <th onclick="Sort(9)">Price <i class="fa fa-sort"></i></th>
            <th>Capacity</th>
            <th>Rating</th>
            <th hidden>Purchased Cards</th>
            <th>Status</th>
            @if (ViewBag.UserRole == EUserRole.SELLER)
            {
                <th>&nbsp;</th>
            }
            <th>&nbsp;</th>
            @if (ViewBag.UserRole == EUserRole.CUSTOMER)
            {
                <th>&nbsp;</th>
            }
            <th>&nbsp;</th> @*Seller ID*@

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Values)
        {
            if (!item.Status && (ViewBag.UserRole != EUserRole.SELLER && ViewBag.UserRole != EUserRole.ADMINISTRATOR) ||
                item.IsDeleted && (ViewBag.UserRole != EUserRole.SELLER && ViewBag.UserRole != EUserRole.ADMINISTRATOR)) //INACTIVE & is not SELLER or ADMINISTRATOR
            {
                continue;                                                                                            //This is for Customers and guests only.
            }

            if (ViewBag.UserRole == EUserRole.SELLER && item.SellerID != sellerID)
            {
                continue;
            }


            <tr id="tableRows" position="@item.Type">
                <td hidden>@item.ID</td>
                <td>@item.EventName</td>
                <td>@item.Type.ToString()</td>
                <td>@item.Date</td>
                <td>@item.Venue.Address</td>
                <td>@item.Venue.City</td>
                <td>@item.Venue.PostalCode</td>
                @if (ViewBag.UserRole == EUserRole.ADMINISTRATOR)
                {
                    if (item.IsDeleted)
                    {
                        <td>
                            <a id="unDelete" onclick="UnDelete(this)" class="btn btn-success brn-sm"><i class="fa fa-user-times fa-lg"></i></a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a id="delete" onclick="Delete(this)" class="btn btn-danger brn-sm"><i class="fa fa-trash fa-lg"></i></a>
                        </td>
                    }
                }
                else
                {
                    <td>@item.IsDeleted.ToString()</td>
                }
                <td>
                    <img src="~/Images/@item.Poster" style="width:100px; height:100px;" />
                </td>

                <td>@item.TicketPrice</td>
                <td>@item.Capacity</td>
                @if (item.Date > DateTime.Now)
                {
                    <td>Yet to happen</td>
                }
                else
                {
                    if (item.Rating == 0)
                    {
                        <td>Not Rated</td>
                    }
                    else
                    {
                        <td>@item.Rating</td>
                    }
                }

                <td hidden>@item.PurchasedCards</td>

                @if (@item.Status)
                {
                    @*if (item.Date < DateTime.Now)
                        {
                            <td>INACTIVE</td>
                        }
                        else
                        {*@
                    <td>ACTIVE</td>
                    //}

                }
                else
                {
                    if (ViewBag.UserRole != EUserRole.ADMINISTRATOR)
                    {
                        <td>INACTIVE</td>
                    }
                    else
                    {
                        <td>
                            <button id="approveBtn" class="btn-success" onclick="Approve(this)"> Approve </button>
                        </td>
                    }
                }

                <td><a href="/Seller/ManifestationDetails?id=@item.ID" style="display:block"> <i class="fa fa-info-circle"></i> Details</a></td>

                @if (ViewBag.UserRole == EUserRole.CUSTOMER)
                {
                    <td>
                        <a href="/home/PurchaseCard?id=@item.ID"><i class="fa fa-shopping-cart"></i> Buy</a>
                    </td>
                }
                else
                {
                    <td>&nbsp;</td>
                }
                <td hidden id="sellerID">@item.SellerID</td>

            </tr>
        }
    </tbody>

</table>

<p id="helperVariable" hidden>@manifestationsCount</p>





<script>

    //Validation for new manifestation submit
    function inputValidation() {
        if ($('input#manifestationEventName').val() === "") {
            document.getElementById("manifestationEventName").focus();
            alert("Input field Event name can't be empty");
            return false;
        }
        else if ($('input#manifestationType').val() !== "CONCERT" && $('#manifestationType').val() !== "FESTIVAL" &&
            $('#manifestationType').val() !== "THEATER" && $('#manifestationType').val() !== "OTHER") {
            document.getElementById("manifestationType").focus();
            alert("Please chose a manifestation type!");
            return false;
        }
        else if ($('input#manifestationCapacity').val() == "" || $('input#manifestationCapacity').val() < 0) {
            document.getElementById("manifestationCapacity").focus();
            alert("Input field Capacity can't be empty or negative");
            return false;
        }
        else if ($('input#manifestationDate').val() == "") {
            document.getElementById("manifestationDate").focus();
            alert("Enter a valid datetime format! (mm/dd/yyyy HH-mm)");
            return false;
        }
        else if ($('input#manifestationPrice').val() == "" || $('input#manifestationPrice').val() < 0) {
            document.getElementById("manifestationPrice").focus();
            alert("Input field Price can't be empty or negative");
            return false;
        }
        else if ($('input#manifestationAddress').val() == "") {
            document.getElementById("manifestationAddress").focus();
            alert("Input field Address name can't be empty");
            return false;
        }
        else if ($('input#manifestationCity').val() == "") {
            document.getElementById("manifestationCity").focus();
            alert("Input field City name can't be empty");
            return false;
        }
        else if ($('input#manifestationPostalCode').val() == "" || $('input#manifestationPostalCode').val() < 0) {
            document.getElementById("manifestationPostalCode").focus();
            alert("Input field Postal code can't be empty or negative");
            return false;
        }
        else if ($('input#manifestationPoster').val() == "") {
            document.getElementById("manifestationPoster").focus();
            alert("Please choose a image for Poster");
            return false;
        }
        //else if ($('input#manifestationRating').val() == "") {
        //    document.getElementById("manifestationRating").focus();
        //    alert("Input field Rating can't be empty");
        //    return false;
        //}
        //else if ($('input#manifestationRating').val() < 1 || $('input#manifestationRating').val() > 10) {
        //    document.getElementById("manifestationRating").focus();
        //    alert("Rating need to be in range(1,10)");
        //    return false;
        //}

        return true;
    }

    //Show manifestation create table
    function Create() {
        $('#createManifestation').attr('hidden', false);
        $('#create').attr('hidden', true);
        $('#allManifestationsTable').hide();
        $('#searchDiv').hide();
        $('#filterDiv').hide();
    }

    //Submit new manifestation
    function Submit() {
        if (inputValidation()) {

            var eventName = $("input#manifestationEventName").val();
            var type = $("input#manifestationType").val();
            var date = $("input#manifestationDate").val();
            var ticketPrice = $("input#manifestationPrice").val();
            var address = $("input#manifestationAddress").val();
            var city = $("input#manifestationCity").val();
            var postalCode = $("input#manifestationPostalCode").val();
            var poster = $('input#manifestationPoster').val();
            var rating = $('input#manifestationRating').val();
            var capacity = $('input#manifestationCapacity').val();



            //So proud of those two lines :)
            var newID = parseInt($('#helperVariable').text(), 10);
            $('#helperVariable').text(newID + 1);


            $.ajax({
                type: "POST",
                url: "/home/createManifestation",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    EventName: $("input#manifestationEventName").val(),
                    Type: $("input#manifestationType").val(),
                    Capacity: $("input#manifestationCapacity").val(),
                    Date: $("input#manifestationDate").val(),
                    TicketPrice: $("input#manifestationPrice").val(),
                    Address: $("input#manifestationAddress").val(),
                    City: $("input#manifestationCity").val(),
                    PostalCode: $("input#manifestationPostalCode").val(),
                    Poster: $('input#manifestationPoster').val(),
                    Rating: $('input#manifestationRating').val(),
                    PurchasedCards: '0',
                    SellerID: `${@sellerID}`
                }),
                success: function (response) {
                    if (response == "Successful") {

                        $('input#manifestationEventName').val("");
                        $('input#manifestationType').val("");
                        $('input#manifestationCapacity').val("");
                        $('input#manifestationDate').val("");
                        $('input#manifestationPrice').val("");
                        $('input#manifestationAddress').val("");
                        $('input#manifestationCity').val("");
                        $('input#manifestationPostalCode').val("");
                        $('input#manifestationPoster').val("");
                        $('input#manifestationRating').val("");



                        alert('Subbmited Succesfully, the manifestation is yet to be accepted by the site administrator!');
                        $('#createManifestation').attr('hidden', true);
                        $('#create').attr('hidden', false);
                        $('#allManifestationsTable').show();
                        $('#searchDiv').show();
                        $('#filterDiv').show();


                        var image = `${poster}`.split('\\')[2];

                        //Adding the newly created manifestation to allManifestations table
                        $('#allManifestationsTable > tbody:last-child').append(
                            `<tr>
                             <td hidden>${++newID}</td>
                             <td>${eventName}</td>
                             <td>${type}</td>
                             <td>${date}</td>
                             <td>${address}</td>
                             <td>${city}</td>
                             <td>${postalCode}</td>
                             <td>False</td>
                             <td>
                                <img src="/Images/${image}" style="width:100px; height:100px;" />
                             </td>
                             <td>${ticketPrice}</td>
                             <td>${capacity}</td>
                             <td>${rating}</td>
                             <td hidden>&nbsp;</td> /*purchased cards*/
                             <td>INACTIVE</td>
                             <td><a href="/Seller/ManifestationDetails?id=${newID}" style="display:block"> <i class="fa fa-info-circle"></i> Details</a></td>
                             </tr>`
                        );


                    }
                    else if (response == "Manifestation already exists") {
                        alert("Manifestation at that time already exists!");
                    }
                }
            });
        }
    }

    //Approve
    function Approve(td) {

        var currentRow = td.parentElement.parentElement;
        var id = currentRow.cells[0].textContent.trim();



        $.get("/administrator/approveManifestation", { id: id }, function (response) {
            if (response == "Successful") {
                alert('Successfuly Approved manifestation');
                $(currentRow).css('background-color', 'yellow').hide("slow", function () {
                    $(currentRow.cells[13]).html('ACTIVE');
                    $(currentRow).css('background-color', 'white').show(1000);
                })
            } else {
                alert('Failed to approve manifestation');
            }
        });
    }

    //Delete
    function Delete(td) {
        var currentRow = td.parentElement.parentElement;
        var id = currentRow.cells[0].textContent.trim();

        $.get("/administrator/deleteManifestation", { id: id }, function (response) {
            if (response == "Successfull") {
                $(currentRow).css('background-color', 'red').hide("slow", function () {
                    //currentRow.cells[7].textContent = "True";
                    $(currentRow.cells[7]).html('<a id="unDelete" onclick="UnDelete(this)" class="btn btn-success brn-sm"><i class="fa fa-user-times fa-lg"></i></a>');
                    $(currentRow).css('background-color', 'white').show(1000);
                })

            }
        });
    }

    //Undelete
    function UnDelete(td) {
        var currentRow = td.parentElement.parentElement;
        var id = currentRow.cells[0].textContent.trim();

        $.get("/administrator/unDeleteManifestation", { id: id }, function (response) {
            if (response == "Successfull") {
                $(currentRow).css('background-color', 'red').hide("slow", function () {
                    //currentRow.cells[7].textContent = "True";
                    $(currentRow.cells[7]).html('<a id="delete" onclick="Delete(this)" class="btn btn-danger brn-sm"><i class="fa fa-trash fa-lg"></i></a>');
                    $(currentRow).css('background-color', 'white').show(1000);
                })

            }
        });
    }


    //Table sorting algorithm
    function Sort(numCol) {
        $(`th:eq(${numCol})`).click(function () {
            var table = $(this).parents('table').eq(0)
            var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
            this.asc = !this.asc
            if (!this.asc) { rows = rows.reverse() }
            for (var i = 0; i < rows.length; i++) { table.append(rows[i]) }
        })
        function comparer(index) {
            return function (a, b) {
                var valA = getCellValue(a, index), valB = getCellValue(b, index)
                return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
            }
        }
        function getCellValue(row, index) { return $(row).children('td').eq(index).text() }
    }

    //Search and filter algorithms
    window.onload = function () {
        $(document).ready(function () {
            //--------------------------------------------------------------------------
            //Search

            var $rows = $("table#allManifestationsTable #tableRows");
            $('#searchEventName, #searchAddress, #searchCity, #searchPriceMin, #searchPriceMax').on('input', function () {
                var val1 = $.trim($('#searchEventName').val()).replace(/ +/g, ' ').toLowerCase();
                var val2 = $.trim($('#searchAddress').val()).replace(/ +/g, ' ').toLowerCase();
                var val3 = $.trim($('#searchCity').val()).replace(/ +/g, ' ').toLowerCase();

                var val4 = $('#searchPriceMin').val();
                var val5 = $('#searchPriceMax').val();

                var val6 = $('#searchDateFrom').val();
                var val7 = $('#searchDateTo').val();


                $rows.show().filter(function () {
                    var text1 = $(this).find('td:nth-child(2)').text().replace(/\s+/g, ' ').toLowerCase();
                    var text2 = $(this).find('td:nth-child(5)').text().replace(/\s+/g, ' ').toLowerCase();
                    var text3 = $(this).find('td:nth-child(6)').text().replace(/\s+/g, ' ').toLowerCase();
                    var text4 = $(this).find('td:nth-child(10)').text().replace(/\s+/g, ' ').toLowerCase();
                    var date = $(this).find('td:nth-child(4)').text().replace(/\s+/g, ' ').toLowerCase();

                    return !~text1.indexOf(val1) || !~text2.indexOf(val2) || !~text3.indexOf(val3) ||
                        (parseInt(text4) < parseInt(val4) && !(val4 == "")) || (parseInt(text4) > parseInt(val5) && !(val5 == "")) ||
                        (compareDate(val6, date) && !(val6 == "")) || (compareDate(date, val7) && !(val7 == ""));
                }).hide();
            });

            $('#searchBtn').on('click', function () {
                $('#searchEventName').val("");
                $('#searchAddress').val("");
                $('#searchCity').val("");
                $('#searchPriceMin').val("");
                $('#searchPriceMax').val("");
                $('#searchDateFrom').val("");
                $('#searchDateTo').val("");

                $rows.show().filter(function () {

                }).show();

            });

            //Filter algorithm


            $("#selectFiled").on("change", function () {

                var selected = this.value;

                if (selected != "All") {

                    $rows.filter("[position=" + selected + "]").show();
                    $rows.not("[position=" + selected + "]").hide();
                }
                else {
                    $rows.show();
                }
            });

        })

        function compareDate(dateFrom, dateTo) {

            //var val6 = $('#searchDateFrom').val();
            //var val7 = $('#searchDateTo').val();

            var date1 = new Date(dateFrom);
            var date2 = new Date(dateTo);
            var year1 = date1.getFullYear();
            var year2 = date2.getFullYear();
            var month1 = date1.getMonth();
            var month2 = date2.getMonth();
            var day1 = date1.getDay();
            var day2 = date2.getDay();
            var hour1 = date1.getHours();
            var hour2 = date2.getHours();
            var min1 = date1.getMinutes();
            var min2 = date2.getMinutes();

            if (year1 > year2) {
                return true;
            } else if (year1 == year2) {
                if (month1 > month2) {
                    return true;
                } else if (month1 == month2) {
                    if (day1 > day2) {
                        return true;
                    } else if (day1 == day2) {
                        if (hour1 > hour2) {
                            return true;
                        } else if (hour2 == hour1) {
                            if (min1 > min2) {
                                return true;
                            } else {
                                return false;
                            }
                        } else {
                            return false;
                        }
                    } else {
                        return false;
                    }
                } else {
                    return false;
                }
            } else {
                return false;
            }
        }
    }


</script>
