﻿@model Projekat.Models.Manifestation
@using Projekat.Models

@{
    ViewBag.Title = "PurchaseCard";
    Layout = "~/Views/Shared/_Layout_Customer.cshtml";

    double fanPitPrice = Model.TicketPrice * 2;
    double vipPrice = Model.TicketPrice * 4;
    int customerID = ViewBag.CustomerID;
    ECustomerType customerType = ViewBag.CustomerType;

    Customer customer = (Customer)Session["customer"];
    double discount = 1;
}


<div>
    <table id="purchaseTable" class="table table-hover table-condensed table-bordered" style="width:75%; margin-top:15%; margin-left:12%">
        <tr style="background-color: #a0e0d4;">
            <th>Manifestation</th>
            <th>Date & time</th>
            <th>Capacity</th>
            <th>Regular price</th>
            <th>Fan pit price</th>
            <th>Vip card price</th>
        </tr>
        <tr>
            <td id="manifName">@Model.EventName</td>
            <td id="manifDate">@Model.Date</td>
            <td id="manifCapacity">@Model.Capacity</td>
            <td id="manifRegularPrice">@Model.TicketPrice</td>
            <td id="manifFanPitPrice">@fanPitPrice</td>
            <td id="manifVipPrice">@vipPrice</td>
        </tr>
        <tr>
            <td colspan="6" style="text-align:center"><i>Cards left to purchase: </i><p id="cardsLeft"></p></td>
        </tr>
        <tr>
            <td colspan="6" style="text-align:center; background-color:antiquewhite;"><b>Chose the amount of cards you want to purchase</b></td>
        </tr>
        <tr>
            <td colspan="6">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;"><b>Number of Regular cards</b></td>
            <td colspan="2" style="text-align:center;"><b>Number of Fan Pit cards</b></td>
            <td colspan="2" style="text-align:center;"><b>Number of Vip cards</b></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;"><input type="number" id="regNum" value="0" /></td>
            <td colspan="2" style="text-align:center;"><input type="number" id="fanPitNum" value="0" /></td>
            <td colspan="2" style="text-align:center;"><input type="number" id="vipNum" value="0" /></td>
        </tr>
        <tr>
            <td colspan="6" style="text-align:center"><b>Total Price: </b><p id="totalPrice"></p></td>
        </tr>
        <tr>
            <td colspan="6" style="text-align: center">
                <button class="btn btn-primary btn-lg" style="background-color: darkorange" onclick="Buy()">Purchase</button>
            </td>
        </tr>
    </table>
</div>

<script>

    function Buy() {

        var name = "@Model.EventName";
        var date = "@Model.Date";
        var capacity = @Model.Capacity;
        var regPrice = @Model.TicketPrice;
        var fanPitPrice = @fanPitPrice;
        var vipPrice = @vipPrice;
        var purchasedCards = @Model.PurchasedCards;

        var totalPrice = $('#totalPrice').val();

        var regCardNum = $('#regNum').val();
        var fanPitNum = $('#fanPitNum').val();
        var vipNum = $('#vipNum').val();
        var totalCardsNum = parseInt(regCardNum) + parseInt(fanPitNum) + parseInt(vipNum);
        var cardsLeft = parseInt($('#manifCapacity').text()) - totalCardsNum;

        var customerID = @customerID;

        if (@customerID != 0) {
            customerID = @customerID;
        } else {
            alert('The user is not an customer!');
        }



        @if (@customer.CustomerType.Equals(@ECustomerType.BRONZE)) {                              //ovaj uslov nisam ni morao.. ostalo bi samo 1 sto je predefined..
            discount = 1;
        } else if (@customer.CustomerType.Equals(@ECustomerType.SILVER)) {
            discount = 0.97;
        } else {                                 @*(@customer.CustomerType == @ECustomerType.GOLD)*@
            discount = 0.95;
        }

        totalPrice = (regCardNum * regPrice + fanPitNum * fanPitPrice + vipNum * vipPrice) * @discount;
        $('#totalPrice').text(`${totalPrice}`);





        if (confirm(`Total price (with discount taken into account) is: ${totalPrice}$\n
                    Do you want to purchase those tickets?`)){
            if (ValidateCardNum()) {

            $('#cardsLeft').text(`${cardsLeft}`);


            $.ajax({
                type: "POST",
                url: "/card/purchaseCard",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    ManifestationID: "@Model.ID",
                    CustomerID: "@customerID",
                    ManifestationDate: "@Model.Date",
                    Price: "@Model.TicketPrice",                    //regular ticket price
                    //Status: "",                                     ticket status, by default it's Reserved.
                    RegularCards: `${parseInt(regCardNum)}`,        //ticket type will be decided by the number of that ticket type
                    FanPitCards: `${parseInt(fanPitNum)}`,          //ticket type will be decided by the number of that ticket type
                    VipCards: `${parseInt(vipNum)}`,                //ticket type will be decided by the number of that ticket type
                    NumberOfCards: `${totalCardsNum}`
                }),
                success: function (response) {
                    if (response == "Successfull") {
                        $('#regNum').val(0);
                        $('#fanPitNum').val(0);
                        $('#vipNum').val(0);
                        $('#manifCapacity').text(`${cardsLeft}`);

                        $('#cardsLeft').text(parseInt($('#manifCapacity').text()));
                        $('#totalPrice').text('');
                        //$('#manifCapacity').text(`${cardsLeft}`);
                    }
                    else if (response == "You can't buy a card for a manifestation that's over") {
                        alert("The manifestations is Over!");
                        $('#regNum').val(0);
                        $('#fanPitNum').val(0);
                        $('#vipNum').val(0);
                        $('#cardsLeft').text(parseInt($('#manifCapacity').text()));
                        $('#totalPrice').text('');
                    }
                }
            });

        }
        }


    }

    function ValidateCardNum() {

        var regCardNum = parseInt($('#regNum').val());
        var fanPitNum = parseInt($('#fanPitNum').val());
        var vipNum = parseInt($('#vipNum').val());

        var totalCardsNum = regCardNum + fanPitNum + vipNum;

        if (regCardNum < 0 || isNaN(regCardNum)) {
            document.getElementById("regNum").focus();
            alert("You can't pick a negative number of cards");
            $('#regNum').val(0);
            return false;
        } else if (fanPitNum < 0 || isNaN(fanPitNum)) {
            document.getElementById("fanPitNum").focus();
            alert("You need to pick an nonnegative number!");
            $('#fanPitNum').val(0);
            return false;
        } else if (vipNum < 0 || isNaN(vipNum)) {
            document.getElementById("vipNum").focus();
            alert("You need to pick an nonnegative number!");
            $('#vipNum').val(0);
            return false;
        } else if ((regCardNum + fanPitNum + vipNum) > @Model.Capacity) {
            document.getElementById("regNum").focus();
            alert("Not that much cards for purchase!");
            $('#regNum').val(0);
            $('#fanPitNum').val(0);
            $('#vipNum').val(0);
            $('#cardsLeft').text(parseInt($('#manifCapacity').text()));
            $('#totalPrice').text('');
            return false;
        }

        return true;

    }

</script>